.section-login {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1em;
}

a, a:visited {
    color: rgb(177, 174, 174);
}

input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
  font-size: 1rem;
  padding: 0.25em;
  border-radius: 0.5rem;
}

label,
input[type="submit"] {
  margin-top: 1em;
}

input[type="submit"] {
  border: none;
  padding: .3em;
  background-color: #101010;
  color: darkgrey;
}