* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Anonymous Pro', monospace;
    font-size: 22px;
    color: darkgrey;
}

body {
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color:#161616 ;
}