* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Anonymous Pro', monospace; */
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 22px; */
    color: darkgrey;
}

body {
    min-height: 100vh;
    background-color:#161616 ;
}